## Задания по семинару 2

В ячеке под заданием приведите его решение. Для заданий, рассмотренных на семинаре, можете использовать решение полученное на занятии.

-----

0) Получить переменную, содержащую строку со значением равным двум в одиннадцатой степени и вывести ее на экран.

1) Наибольшим количеством способов создать строковую переменную, содержащую текст:

It's "quoted string"

In [1]:
s=input()
s

quoted string

'quoted string'

2) Наибольшим количеством способов создать строковую переменную, содержащую текст:

line1

line2

line3

In [2]:
s=int(input())
for i in range(1,s+1):
    print('line', i)

5
line 1
line 2
line 3
line 4
line 5

3) Наибольшим количеством способов создать строковую переменную, содержащую текст:

\\\\

\\\

\\

\

In [3]:
s=int(input())
for i in range(s,0,-1):
    print(' \ ' * i)

4
 \  \  \  \
 \  \  \
 \  \
 \

4) Вывести 5й с начала и 5й с конца символ из строки 'Hello world'

In [4]:
s='Hello world'
s[4] + s[-5]

'ow'

5) Двумя способами получить символ 'w' из строки 'Hello world'

In [5]:
s='Hello world'
for i in s:
    if i=="w":
        print(i)

w

In [6]:
s='Hello world'
s[-5]

'w'

6) Вывести символ, находящийся в середине заранее неизвестной строки, полученной с помощью функции input().

Пример использования функции input:

In [7]:
# поместить строку, введенную пользователем, в переменную st
st = input()
b=len(st)
if b%2 == 0:
    print(st[b//2-1:b//2+1])
else:
    print(st[b//2])

table
b

7) Для строки 'Light ray' двумя способами получить подстроку с 1го по 4й символы включительно.

In [8]:
s='Light ray'
s[0:4]
s[-9:-5]

'Ligh'

8) Для строки 'My new text' двумя способами получить подстроку с 3го по 7й символы включительно.

In [9]:
s='My new text'
s[3:7]
s[-8:-4]

'new '

9) Получить подстроку из последних 4х символов строки 'Light ray'.

In [10]:
s='Light ray'
s[-4:]

' ray'

10) Составить строку из всех четных символов строки 'Light ray'.

In [11]:
s='Light ray'
s[1::2]

'ih a'

11) Составить строку из всех нечетных символов строки 'Light ray'.

In [12]:
s='Light ray'
s[::2]

'Lgtry'

12) Инвертировать (получить строку с обратной последовательностью символо) строку  'Light ray'.

In [13]:
s='Light ray'
s[::-1]

'yar thgiL'

13) Вывести c третьего с начала до предпоследнего символа заранее низвестной строки, полученной с помощью функции input().

In [15]:
s=input()
s[3:]

table

'le'

14) Получить подстроку неизвестной заранее строки, содержащую половину символов строки и расположенную по середине строки.

In [16]:
s=input()
b=len(s)
s[b//4:b//4+b//2]

tqble

'qbl'

15) Проверить, содержит ли произвольная строка, прочитанная в обратную сторону последовательность 'eno'

In [17]:
s='adsadaoneasfaf'
s.find("one")
if s==-1:
    print('Ne naideno')
else:
    print("naideno")

naideno

16) Получить строку, начинающуюся с последних 3 символов стркои 'Light ray', а заканчивающуюся подстрокой с 1го до 4го  символа строки.

In [18]:
s="Light ray"
s[6:9]+s[0:4]

'rayLigh'

17) Коротко записать создание строки 'oneoneoneoneoneonetwotwotwo'

In [19]:
s="one"
b="two"
s*6 + b*3

'oneoneoneoneoneonetwotwotwo'

18) Разбить строку на список из строк, состоящих только из названий чисел.

In [20]:
st = '  one,two,three,four,five,six,seven,eight,nine,ten   '
st1=st.split(",")
st12= '; '.join(st1)
st12

'  one; two; three; four; five; six; seven; eight; nine; ten   '

19) Вставить между всеми символами строки 'Hello world' стрелочку '->' и сохранить результат в строковой переменной.

Ожидаемый результат:

In [21]:
s='Hello world'
b=[]
for i in s:
    b.append(i)
c='->'.join(s)
c

'H->e->l->l->o-> ->w->o->r->l->d'

H->e->l->l->o-> ->w->o->r->l->d

20) Для двух произвольных строк провести сравнение на совпадение содержимого без учета регистра букв и начальных и конечных пробельных символов.

Например, для двух строк

In [3]:
st1 = '  HeLLO WOrlD'

In [4]:
st2 = 'hello WORLD  '

такое сравнение должно возвращать True (содержание строк совпадает).

21) В строке 'hello hello Hello hello' найти индекс второго вхождения подстроки 'hel'

In [22]:
s='hello hello Hello hello'
s.find('hel', 2)

6

22) В строке 'hello hello Hello hello' найти индекс второго С КОНЦА вхождения подстроки 'hel'

In [23]:
s='hello hello Hello hello'
s.rfind('hel')

18

23) Из заранее неизвестной строки вырезать подстроку, начинающуюся с 'he' и заканчивающееся 'on'. Протестировать на строке

    start hello python world

In [24]:
s='start hello python world'
s[s.find('he' ):s.find('he' )+2] + s[s.find('on' ):s.find('on' )+2]

'heon'

24) Используя цикл for и функцию enumerate() (см. лекцию 2) вывести произвольную строку на экран и при этом убрать все пробелы и на их месте вывести номер слова по счету

Пример.

Исходная строка:

hello hello Hello hello

In [25]:
string = input() 
k = 1 
for ind, symb in enumerate(string): 
    if(symb == " "): 
        print(k, end = "") 
        k += 1 
    elif(ind == len(string) - 1): 
        print(symb + str(k)) 
    else: 
        print(symb, end = "")

hello hello Hello hello
hello1hello2Hello3hello4

In [30]:
s="hello hello Hello hello"
print(s,sep=enumerate(s))

TypeError: sep must be None or a string, not enumerate

выведено на экран:

hello1hello2Hello3hello4

25) Сформировать строку форматирования, которая для вызова

format('val1', 'val2', 'val3')

In [64]:
"{2}-{1}-{0}-{1}-{2}".format('val1', 'val2', 'val3')

'val3-val2-val1-val2-val3'

будет возрващать следующий результат:

val3-val2-val1-val2-val3

26) Сформировать строку форматирования fs, которая при использовании в нижеследующем коде приводит к формированию таблицы, выведенной в следующей ячейке.

In [31]:
print('0123456789' * 4)
fs = '' # задайте тут свою строку форматирования
print(fs.format(453, 59.058, 1, line=1))
print(fs.format(123453, 159.0, 7, line=5))
print(fs.format(-12, -159.099, 16, line=15))
print(fs.format(1200, -1059.099, 255, line=105))

0123456789012345678901234567890123456789

In [32]:
print("""
0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00000001 |
|   5 | ##159.00|  123,453 | 00000111 |
|  15 | #-159.10| -     12 | 00010000 |
| 105 | -1059.10|    1,200 | 11111111 |
""")

0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00000001 |
|   5 | ##159.00|  123,453 | 00000111 |
|  15 | #-159.10| -     12 | 00010000 |
| 105 | -1059.10|    1,200 | 11111111 |